.cart-container {
  padding: 2rem 4rem;
}
.cart-container > h2 {
  font-weight: 400;
  font-size: 2.6vmax;
  text-align: center;
}
.titles {
  margin: 2rem 0 1rem 0;
}
.titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}
.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}
.titles .product-title {
  padding-left: 0.5rem;
}
.titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}
.cart-product {
  display: flex;
}
.cart-product > img {
  width: 100%;
  max-width: 100%;
  margin-right: 1rem;
}
.cart-product h3 {
  font-weight: 400;
}
.cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}
